@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}
.premium-cell {
  position: relative;
  border: none !important;
  background: transparent;
  overflow: hidden;
}

.premium-cell::before {
  content: "";
  position: absolute;
  inset: -8px;
  background: conic-gradient(
    #ff004c,
    #ff9900,
    #ffff00,
    #00ff66,
    #00ccff,
    #6633ff,
    #ff00cc,
    #ff004c
  );
  animation: appicel-rainbow-spin 1.2s linear infinite;
  z-index: 0;
}

.premium-cell-inner {
  position: absolute;
  inset: 2px;
  z-index: 1;
  background: #000;
  overflow: hidden;
}

@keyframes appicel-rainbow-spin {
  to {
    transform: rotate(360deg);
  }
}